FEDAPAY_SECRET_KEY=sk_live_votre_cle_secrete
FEDAPAY_PUBLIC_KEY=pk_live_votre_cle_publique
FEDAPAY_ENVIRONMENT=sandbox
FEDAPAY_WEBHOOK_SECRET=wh_live_votre_cle_webhook
PORT=3000
CALLBACK_URL=https://backend-fedapay-gestboutique.onrender.com/payment-redirect
ADMIN_SECRET=gb-admin-2026
